DATABASE_URL=postgresql+asyncpg://we_share_stuff:we_share_stuff@localhost:5432/we_share_stuff
ENVIRONMENT=development
FRONTEND_ORIGINS=http://localhost:4200
COOKIE_SECURE=false
ITEM_PHOTO_STORAGE_DIR=var/item-photos
PROFILE_PHOTO_STORAGE_DIR=var/profile-photos
SHARING_GROUP_PHOTO_STORAGE_DIR=var/sharing-group-photos
